# Firebase Configuration
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Inlomax API (VTU)
INLOMAX_API_KEY=

# OgaViral API (SMM)
OGAVIRAL_API_KEY=

# Paystack API (Payments)
PAYSTACK_SECRET_KEY=

# Billstack API (Virtual Accounts)
BILLSTACK_SECRET_KEY=

# Mailjet API (Emails)
MAILJET_API_KEY=
MAILJET_SECRET_KEY=

# App Configuration
APP_URL=
VITE_IMGBB_API_KEY=
VITE_NOWPAYMENTS_API_KEY=
